{% extends "base.html" %}

{% block body %} 
<center>
    <img src="https://gcdnb.pbrd.co/images/AeyVeJFQDQ7O.png">
</center>
<div class="list-container">
    <!--starts here-->
    <div class="vid-list grow">
        <article class="course">
        <a href="/js/101-resources"><img src="https://fireship.io/courses/js/img/featured.webp" class="thumbnail"></a>
        <div class="flex-div">
            <!-- <img src="images/Jack.png"> -->
            <div class="vid-info"> 
                <a href="/js/101-resources">JavaScript Course</a>
                <p>Hello guys today i am going to show you how to eat sus burger</p>
            </div>
        </div>
        </article>
    </div>
    <!--starts here-->
    <div class="vid-list grow">
        <article class="course">
        <a href="/js/101-resources"><img src="https://fireship.io/courses/js/img/featured.webp" class="thumbnail"></a>
        <div class="flex-div">
            <!-- <img src="images/Jack.png"> -->
            <div class="vid-info"> 
                <a href="/js/101-resources">JavaScript Course</a>
                <p>Hello guys today i am going to show you how to eat sus burger</p>
            </div>
        </div>
        </article>
    </div>
    <!--starts here-->
    <div class="vid-list grow">
        <article class="course">
        <a href="/js/101-resources"><img src="https://fireship.io/courses/js/img/featured.webp" class="thumbnail"></a>
        <div class="flex-div">
            <!-- <img src="images/Jack.png"> -->
            <div class="vid-info"> 
                <a href="/js/101-resources">JavaScript Course</a>
                <p>Hello guys today i am going to show you how to eat sus burger</p>
            </div>
        </div>
        </article>
    </div>
    <!--starts here-->
    <div class="vid-list grow">
        <article class="course">
        <a href="/js/101-resources"><img src="https://fireship.io/courses/js/img/featured.webp" class="thumbnail"></a>
        <div class="flex-div">
            <!-- <img src="images/Jack.png"> -->
            <div class="vid-info"> 
                <a href="/js/101-resources">JavaScript Course</a>
                <p>Hello guys today i am going to show you how to eat sus burger</p>
            </div>
        </div>
        </article>
    </div>
    
    
    
    
</div>
{% endblock %}
