{% extends "base.html" %}
{% block content %} 

<div class="video-list">
	<h2>📜 Basic Concepts</h2>
	<ul>
		<li><a href="/js/101-resources">Resources</a></li>
		<li><a href="/js/101-js-in-100-seconds">Javascript in 100 Seconds</a></li>
		<li><a href="/js/101-basics">Javascript Crash Course</a></li>
	</ul>
	<h2>🔗 Advanced Concepts</h2>
	<ul>
		<li><a href="/js/102-prototype-chain">Prototype Chain</a></li>
		<li><a href="/js/102-destructuring">Destructuring</a></li>
		<li><a href="/js/102-spread">Spread</a></li>
		<li><a href="/js/102-optional-chaining">Optional Chaining</a></li>
		<li><a href="/js/102-nullish-coalescing">Nullish Coalescing</a></li>
		<li><a href="/js/102-higher-order-functions">Higher Order Functions</a></li>
		<li><a href="/js/102-closures">Closures</a></li>
		<li><a href="/js/102-array-tricks">Array Tricks</a></li>
		<li><a href="/js/102-history-of-js">History of Javascript</a></li>
	</ul>
	<h2>🥣 Algorithms</h2>
	<ul>
		<li><a href="/js/algo-sum">Cumulative Sum</a></li>
		<li><a href="/js/algo-binary-search">Binary Search</a></li>
		<li><a href="/js/algo-lru">Least Recently Used</a></li>
		<li><a href="/js/algo-vitest">TDD with Vitest</a></li>
	</ul>
	<h2>🧙‍♂️ Dream App</h2>
	<ul>
		<li><a href="/js/app-setup">Initial Setup</a></li>
		<li><a href="/js/app-rest">Restful APIs</a></li>
		<li><a href="/js/app-server">Text-To-Image Server</a></li>
		<li><a href="/js/app-rest-client">Rest Client</a></li>
		<li><a href="/js/app-frontend">Text-To-Image Frontend UI</a></li>
		<li><a href="/js/app-loader">Loading Spinner</a></li>
		<li><a href="/js/app-error-handling">Error Handling</a></li>
	</ul>
</div>
<div class="video-container">
	<h2 id="video-title">📜 RESOURCES</h2>
	<iframe id="video1" width="560" height="315" src="/video1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	<div class="description">
		<p><a href="https://github.com/fireship-io/javascript-course">Source Code</a></p>
		<p>Node.js. I would recommend using nvm mac/linux or nvm windows to install Node.js.</p>

	</div>
</div>
{% endblock %} 